@model BlogDetailsVM
@section mycss
    {
    <link href="/front-assets/css/blog.css" rel="stylesheet">
    <link href="/front-assets/css/custom.css" rel="stylesheet">
}


<div class="container margin_30">
    <div class="page_header">
        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Category</a></li>
                <li>Page active</li>
            </ul>
        </div>
    </div>
    <!-- /page_header -->
    <div class="row">
        <div class="col-lg-9">
            <div class="singlepost">
                <figure><img alt="" class="img-fluid" src="img/blog-single.jpg"></figure>
                <h1>@Model.JustBlog.Title</h1>
                <div class="postmeta">
                    <ul>
                        <li><a href="#"><i class="ti-folder"></i> Category</a></li>
                        <li><i class="ti-calendar"></i> @Model.JustBlog.PublishedTime.ToShortDateString()</li>
                        <li><a href="#"><i class="ti-user"></i> @Model.JustBlog.Author?.Name</a></li>
                        <li><a href="#"><i class="ti-comment"></i> (14) Comments</a></li>
                    </ul>
                </div>
                <!-- /post meta -->
                <div class="post-content">
                    <div class="dropcaps">
                        <p>@Model.JustBlog.Description</p>
                    </div>

                    <p>@Model.JustBlog.Description</p>
                </div>
                <!-- /post -->
            </div>
            <!-- /single-post -->

            <div id="comments">
                <h5>Comments</h5>
                <ul>
                    <li>
                        <div class="avatar">
                            <a href="#">
                                <img src="img/avatar1.jpg" alt="">
                            </a>
                        </div>
                        <div class="comment_right clearfix">
                            <div class="comment_info">
                                By <a href="#">@Model.JustBlog.Author?.Name</a><span>|</span>@Model.JustBlog.PublishedTime<span>|</span><a href="#"><i class="icon-reply"></i></a>
                            </div>
                            <p>
                                Nam cursus tellus quis magna porta adipiscing. Donec et eros leo, non pellentesque arcu. Curabitur vitae mi enim, at vestibulum magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet sem a urna rutrumeger fringilla. Nam vel enim ipsum, et congue ante.
                            </p>
                        </div>
                        <ul class="replied-to">
                            <li>
                                <div class="avatar">
                                    <a href="#">
                                        <img src="img/avatar2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="comment_right clearfix">
                                    <div class="comment_info">
                                        By <a href="#">@Model.JustBlog.Author?.Name</a><span>|</span>@Model.JustBlog.PublishedTime<span>|</span><a href="#"><i class="icon-reply"></i></a>
                                    </div>
                                    <p>
                                        Nam cursus tellus quis magna porta adipiscing. Donec et eros leo, non pellentesque arcu. Curabitur vitae mi enim, at vestibulum magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet sem a urna rutrumeger fringilla. Nam vel enim ipsum, et congue ante.
                                    </p>
                                    <p>
                                        Aenean iaculis sodales dui, non hendrerit lorem rhoncus ut. Pellentesque ullamcorper venenatis elit idaipiscingi Duis tellus neque, tincidunt eget pulvinar sit amet, rutrum nec urna. Suspendisse pretium laoreet elit vel ultricies. Maecenas ullamcorper ultricies rhoncus. Aliquam erat volutpat.
                                    </p>
                                </div>
                                <ul class="replied-to">
                                    <li>
                                        <div class="avatar">
                                            <a href="#">
                                                <img src="img/avatar2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="comment_right clearfix">
                                            <div class="comment_info">
                                                By <a href="#">@Model.JustBlog.Author?.Name</a><span>|</span>@Model.JustBlog.PublishedTime<span>|</span><a href="#"><i class="icon-reply"></i></a>
                                            </div>
                                            <p>
                                                Nam cursus tellus quis magna porta adipiscing. Donec et eros leo, non pellentesque arcu. Curabitur vitae mi enim, at vestibulum magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet sem a urna rutrumeger fringilla. Nam vel enim ipsum, et congue ante.
                                            </p>
                                            <p>
                                                Aenean iaculis sodales dui, non hendrerit lorem rhoncus ut. Pellentesque ullamcorper venenatis elit idaipiscingi Duis tellus neque, tincidunt eget pulvinar sit amet, rutrum nec urna. Suspendisse pretium laoreet elit vel ultricies. Maecenas ullamcorper ultricies rhoncus. Aliquam erat volutpat.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="avatar">
                            <a href="#">
                                <img src="img/avatar3.jpg" alt="">
                            </a>
                        </div>

                        <div class="comment_right clearfix">
                            <div class="comment_info">
                                By <a href="#">@Model.JustBlog.Author?.Name</a><span>|</span>@Model.JustBlog.PublishedTime<span>|</span><a href="#"><i class="icon-reply"></i></a>
                            </div>
                            <p>
                                Cursus tellus quis magna porta adipiscin
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <hr>

            <h5>Leave a comment</h5>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <input type="text" name="name" id="name2" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <input type="text" name="email" id="email2" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <input type="text" name="email" id="website3" class="form-control" placeholder="Website">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="comments" id="comments2" rows="6" placeholder="Comment"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" id="submit2" class="btn_1 add_bottom_15">Submit</button>
            </div>

        </div>
        <!-- /col -->

        <aside class="col-lg-3">
            <div class="widget search_blog">
                <div class="form-group">
                    <input type="text" name="search" id="search" class="form-control" placeholder="Search..">
                    <button type="submit"><i class="ti-search"></i></button>
                </div>
            </div>
            @if (Model.LatestBlogs.Count > 0)
            {
                <!-- /widget -->

                <div class="widget">
                    <div class="widget-title">
                        <h4>Latest Post</h4>
                    </div>
                    <ul class="comments-list">
                        @foreach (var item in Model.LatestBlogs)
                        {
                            <li>
                                <div class="alignleft">
                                    <a asp-action="Details" asp-route-id="@item.Id"><img src="img/blog-5.jpg" alt=""></a>
                                </div>
                                <small>@item.BlogCategory?.Name - @item.PublishedTime.ToShortDateString()</small>
                                <h3><a asp-action="Details" asp-route-id="@item.Id" title="">@item.Title</a></h3>
                            </li>

                        }
                    </ul>
                </div>
                <!-- /widget -->
            }
            <div class="widget">
                <div class="widget-title">
                    <h4>Categories</h4>
                </div>
                <ul class="cats">
                    @foreach (var item in Model.BlogCategories)
                    {
                        <li><a href="#">@item.Name <span>(12)</span></a></li>

                    }

                </ul>
            </div>
            <!-- /widget -->
            <div class="widget">
                <div class="widget-title">
                    <h4>Popular Tags</h4>
                </div>
                <div class="tags">
                    <a href="#">Food</a>
                    <a href="#">Bars</a>
                    <a href="#">Cooktails</a>
                    <a href="#">Shops</a>
                    <a href="#">Best Offers</a>
                    <a href="#">Transports</a>
                    <a href="#">Restaurants</a>
                </div>
            </div>
            <!-- /widget -->
        </aside>
        <!-- /aside -->
    </div>
    <!-- /row -->
</div>
<!-- /container -->
